
{
	"env": {
		"test": {
		  "presets": ["env"]
		},
		"dev": {
      "presets": [
        ["env", {"modules": false}]
      ],
      "plugins": ["external-helpers",
        "transform-object-rest-spread"]
		}
	}
}